<center><h1>Smart Action Plan</h1></center>
<hr/>
<div class="top40"></div>
<div class="card side20 top20">
  <%= form_for "create_plan", url: create_action_plan_metrics_path, method: :post do |f| %>
    <div class="row">
      <div class="col-md-1">
        QCM: 
      </div>
      <div class="col-md-10">
        <%= f.select :qcm, ActionPlan::QCM_LIST, include_blank: true %>
      </div>
    </div>
    <br/>
    <br/>
    Agent: <%= f.text_field :agent %>
    <br/>
    <br/>
    Input Date: <%= f.date_field :date %>
    <br/>
    <br/>
    Specific Behavior: <%= f.text_area :specific_behavior %>
    <br/>
    <br/>
    Measurable: <%= f.text_area :measurable %>
    <br/>
    <br/>  
    Action: <%= f.text_area :action %>
    <br/>
    <br/>
    <%= f.submit 'Submit', class: 'btn btn-sm btn-primary' %>

  <% end %> 
</div>